body {
	margin: 0;
	font-family: Ubuntu;
	background: #f0f0f0;
}

h1 {
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
}

#wrapper {
	width: 1200px;
	margin: auto;
	background: #fff;
}

header {
	height: 180px;
	position: relative;
	background: url(/imgs/logo-header.png) no-repeat 70px 50%;
}

.phone {
	font-size: 24px;
	line-height: 36px;
}

.bloor-header {
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	padding: .3em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.underline-header {
	position: relative;
	text-align: center;
}

.underline-header:after {
	content: '';
	position: absolute;
	width: 180px;
	height: 4px;
	right: 0;
	bottom: -10px;
	left: 0;
	background: #f00;
	margin: auto;
}

.header_bold {
	font-weight: 700;
}

.red-button {
	border-radius: 12px;
	border: 1px solid #f00;
	background: #f00;
	color: #fff;
	font-size: 18px;
	line-height: 42px;
	padding: 0 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.hidden_image {
	display: none;
}

.header-phones {
	position: absolute;
	right: 40px;
	top: 40px;
	padding-left: 50px;
}

.header-phones div:first-child {
	padding-top: 4px;
}

.phone-icon {
	background: url(/imgs/phone-icon.png) no-repeat 0 10px;
}

.header-slogan {
	font-size: 18px;
	position: absolute;
	top: 130px;
	right: 41px;
	font-weight: 300;
}

.main-slider {
	height: 540px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.main-slider:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	transition: background-color .5s;
	z-index: 1;
}

.main-slider:hover:before {
	background-color: transparent;
}

.slider-button {
	position: absolute;
	width: 62px;
	height: 60px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 2;
}

.prev-button {
	background-image: url(/imgs/prev-button.png);
	left: 40px;
}

.next-button {
	background-image: url(/imgs/next-button.png);
	right: 40px;
}

.main-slider__header {
	position: relative;
	z-index: 2;
	width: 400px;
	margin-top: 200px;
}

.main-slider__text {
	color: #fff;
	position: relative;
	margin-top: 50px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	z-index: 2;
}

.main-slider__button {
	margin-top: 60px;
	position: relative;
	z-index: 2;
}

.main-slider__images {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.warehouses {
	overflow: hidden;
	height: 360px;
}

.warehouse__header {
	margin-top: 90px;
}

.warehouse__text {
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	margin: 35px 0 55px;
}

.warehouse__we-have {
	font-size: 32px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.warehouse-images {
	height: 540px;
	overflow: hidden;
}

.warehouse-images__item {
	float: left;
	width: 50%;
	height: 270px;
	display: table;
	position: relative;
}

.warehouse-images__header {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: #0f0;
	font-size: 24px;
	line-height: 35px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	text-transform: uppercase;
	transition-property: background-color, background-image;
	transition-duration: .5s, .5s;
	z-index: 2;
}

.warehouse_image {
	width: 600px;
	height: 270px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	object-fit: cover;
}

.warehouse-images__header:hover {
	background-color: #f00;
	cursor: pointer;
	background-image: url(/imgs/plus-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 200px;
}

.white-space {
	height: 180px;
}

.comfortable-conditions {
	height: 530px;
	text-align: center;
	overflow: hidden;
	background-image: url(/imgs/trucks.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
}

.comfortable-conditions__header {
	width: 700px;
	margin-top: 200px;
	font-weight: 300;
}

.comfortable-conditions__button {
	margin-top: 70px;
}

.comfortable-conditions-items {
	overflow: hidden;
	height: 370px;
}

.comfortable-conditions-items__item {
	width: 250px;
	float: left;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 70px;
	padding: 180px 25px 20px;
}

.fire-alarm {
	background-image: url(/imgs/fire-alarm-icon.png);
}

.cctv {
	background-image: url(/imgs/cctv-icon.png);
}

.sanitation {
	background-image: url(/imgs/sanitation-icon.png);
}

.refrigerators {
	background-image: url(/imgs/refrigerators-icon.png);
}

.offices-promisses {
	text-align: center;
	overflow: hidden;
	background: #e6e6e6;
	height: 360px;
}

.offices-promisses__header {
	margin-top: 80px;
}

.offices-promisses__text {
	font-size: 18px;
	line-height: 35px;
	margin-top: 50px;
}

.offices-promisses-images {
	overflow: hidden;
	height: 360px;
}

.offices-promisses-images__item {
	width: 50%;
	position: relative;
	height: 360px;
	float: left;
	cursor: pointer;
}

.offices-promisses-images__header {
	position: absolute;
	height: 90px;
	line-height: 90px;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 50px;
	color: #fff;
	text-transform: uppercase;
	transition-property: background-color, padding-left;
	transition-duration: .5s, .5s;
}

.offices-promisses-images__header:before {
	content: '';
	width: 32px;
	height: 31px;
	background-image: url(/imgs/plus-icon.png);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	margin: auto;
	opacity: 0;
	transition: opacity, .5s .2s;
}

.offices-promisses-images__item:hover .offices-promisses-images__header:before {
	opacity: 1;
}

.offices-promisses-images__item:hover > .offices-promisses-images__header{
	background-color: rgba(255, 0, 0, 0.7);
	padding-left: 240px;
}

.offices-promisses-images__image {
	width: 600px;
	height: 360px;
	object-fit: cover;
}

.politics {
	text-align: center;
	overflow: hidden;
	height: 360px;
}

.politics__text {
	font-size: 18px;
	line-height: 35px;
	margin-top: 90px;
}

.politics__button {
	margin-top: 50px;
}

.distribution {
	height: 540px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background-image: url(/imgs/distribution.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.distribution_header {
	margin-top: 60px;
}

.distribution_text {
	margin-top: 40px;
}

.distribution_subheader {
	margin-top: 60px;
	font-weight: 300;
}

.distribution_button {
	margin-top: 80px;
}

.contacts-header {
	height: 180px;
	overflow: hidden;
}

.contacts-header__header {
	margin-top: 75px;
}

#map {
	height: 360px;
}

#map-mark {
	width: 28px;
	height: 42px;
	background: url(/imgs/placemark-icon.png) no-repeat 50% 50%;
	position: relative;
	top: -65px;
	right: -10px;
}

.contacts {
	overflow: hidden;
}

.contacts__item {
	float: left;
	width: 50%;
	overflow: hidden;
	height: 360px;
}

.contacts__form {
	background-color: #323234;
}

.contacts__header {
	margin-top: 50px;
	margin-left: 65px;
}

.white_header {
	color: #fff;
}

.contacts__input {
	display: block;
	font-family: inherit;
	margin-top: 20px;
	margin-left: 65px;
	font-size: 18px;
	border: 1px solid transparent;
	border-radius: 12px;
	padding: 15px;
	width: 438px;
}

.contacts__button {
	margin-left: 65px;
	margin-top: 20px;
}

.contacts__address {
	font-size: 18px;
	background: url(/imgs/marker-icon.png) no-repeat 0 50%;
	height: 32px;
	line-height: 32px;
	padding-left: 42px;
	margin-left: 65px;
	margin-top: 40px;
}

.contacts-phones {
	overflow: hidden;
	margin: 25px 65px 0;
}

.phones {
	width: 50%;
	float: left;
}

.city {
	background: url(/imgs/city-icon.png) no-repeat 0 0;
}

.mobile {
	background: url(/imgs/mobile-icon.png) no-repeat 0 0;
}

.phones__phone {
	font-size: 18px;
	margin-left: 42px;
	line-height: 35px;
}

footer {
	height: 90px;
	position: relative;
	background: #f00 url(/imgs/logo-footer.png) no-repeat 40px 50%;
}

.copyright {
	position: absolute;
	text-align: right;
	right: 35px;
	bottom: 20px;
	color: #fff;
}

.lightbox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: none;
}

.lightbox__inner {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	margin: auto;
}

.lightbox__images {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	margin: auto;
}

.lightbox__images img {
	height: auto;
	/*width: 100px;
	height: 100%;
	object-fit: contain;*/
}

.slick-list {
	height: 100%;
}

.slick-track {
	height: 100%;
}

.lightbox__button {
	z-index: 20;
}

.close-button {
	border: none;
	padding: 0;
	font-size: 30px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.ya-metrika {
	position: absolute;
	top: 40px;
	left: 400px;
}